<center>
<body id="bimg2"> 
    <br>
    <img class="sketchy" src="https://i.redd.it/adfth1y5ww541.png"style="width: 600px">
    <br>
    <h1>TH 13 Rushed</h1>
    <br>
        <form action="/payment" method-"POST">
<script 
src="//checkout.stripe.com/v2/checkout.js"
class="stripe-button"
data-key="{{key}}" 
data-amount="3400" 
data-currency="usd" 
data-name="Derek"
data-description="Buy Account" 
data-locale-"auto" > 
</script>
</form> 
</body> 
</center>