<body id="bimg2"></body>

<h1> List an Account</h1>

<form action="/clan/create" method="POST">

<div>
    <br>Name:<br>
    <input type="text" name="theName">
</div>

<div>
    <br>Price:<br>
    <input type="text" name="thePrice">
</div>

<div>
    <br>Level:<br>
    <input type="text" name="theLevel">
</div>

<div>
    <br>League:<br>
    <input type="text" name="theLeague">
</div>

<div><br>
    <br>Warlog:<br>
    <input type="text" name="theWarlog">
</div>

<div>
    <br>Image:<br>
    <input type="text" name="img">
</div>

<button>Save</button>

</form>