<center>
<body> 
    <br>
    <img class="sketchy" src="https://preview.redd.it/f1bojw46off81.jpg?width=640&crop=smart&auto=webp&s=8434303a0726bd362103ef90da47a349edca3871"style="width: 600px">
    <br>
    <h1>Death Dealers</h1>
    <br>
        <form action="/payment" method-"POST">
<script 
src="//checkout.stripe.com/v2/checkout.js"
class="stripe-button"
data-key="{{key}}" 
data-amount="2000" 
data-currency="usd" 
data-name="Derek"
data-description="Buy Clan" 
data-locale-"auto" > 
</script>
</form> 
</body> 
</center>