<body id="bimg"></body>

<h1 align="center">Start Your Clash of Clans Journey </h1>
<br>
<h2 align="center">Login</h2>
<br>
<form align="center" action="/" method="POST">

<div class="container">
<br>Username:<br>
<input type="text" name="username">
</div>

<div>
<br>Password:<br>
<input type="text" name="password">
</div>
<button>Login</button>
<br>
<h2>Or</h2>
<a href="/signup">Create an Account</a>
</form>


