<body id="bimg1"></body>

<h1 align="center">Create Account</h1>

<form align="center" action="/signup" method="POST">

<div class="container">
<br>Username:<br>
<input type="text" name="username">
</div>

<div>
<br>Email:<br>
<input type="text" name="email">
</div>

<div>
<br>Password:<br>
<input type="text" name="password">
</div>
<button>Signup</button>
</form>